body {
  font: 400 16px 'PT Serif', serif;
  xtext-align: justify;
  line-height: 1.2;
  color: #333333;
  background-color: #fffdf9; }

h1 a, h1 a:visited {
  text-decoration: none;
  color: #333333; }

div.highlight {
  padding: 1em 1.5em;
  width: 90%;
  margin: auto;
  margin-bottom: 2em;
  background-color: #333;
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border: 1px solid #D9DBE1;
  font: normal 13px 'Ubuntu Mono', monospace; }

code {
  font-size: 0.8em; }

dl {
  margin: 0 1em; }
dt {
  font-weight: bold; }
dd {
  padding: 0 0 0.5em 0; }

#header-container {
  padding: 8px 0 12px 0;
  background-color: #C0BEBA; }
  #header-container h1 {
    font: 400 36px 'Alfa Slab One', sans-serif;
    text-shadow: 1px 1px 1px #888;
    margin: 0; }
    #header-container h1 a, #header-container h1 a:visited {
      text-decoration: none;
      color: #333; }
  #header-container h2 {
    font: 400 18px 'Alfa Slab One', sans-serif;
    color: #444;
    xborder-bottom: 1px solid #333;
    padding: 0 0 2px 0;
    margin: 0; }

#main-container {
  margin: 0;
  padding: 18px 0; }
  #main-container .article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 0; }
  #main-container .article a {
    color: #A78A51; }
    #main-container .article a:hover {
      color: red; }
  #main-container .article h1 {
    margin-bottom: 0;
    padding: 0; }
    #main-container .article h1 a, #main-container .article h1 a:visited {
      text-decoration: none;
      color: #333; }
  #main-container #post-date {
    font-style: italic;
    font-size: 0.9em;
    margin-top: 0; }

#footer-container {
  color: #555;
  margin: 3em 0 0 0;
  padding: 1.5em 0 1em;
  font-size: 13px;
  background-color: #C0BEBA; }
  #footer-container dt {
    float: left;
    clear: left;
    width: 6em;
    padding: 0.1em 0.5em 0 0;
    text-align: right;
    xfont-weight: bold;
    font-family: 'Alfa Slab One', sans-serif;
    xcolor: #444; }
  #footer-container dd {
    padding-bottom: 0.6em;
    margin: 0 0 0 6.5em; }
  #footer-container dt:after {
    xcontent: ":"; }
  #footer-container p {
    padding: 0;
    margin: 0; }
  #footer-container a {
    color: #485f93; }
    #footer-container a:hover {
      color: red; }
  #footer-container #copyright {
    text-align: center;
    margin-top: 2em; }

.recent-articles .date { color: #999; }
