<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Proof By Example: Programming stuff by Mark Feeney"/>
    <meta name="author" content="Mark Feeney"/>
    <title>Proof By Example: {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/proofbyexample/">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/pyg.css">
    {% include analytics.html %}
  </head>
  <body>

    <div id="header-container" class="row-fluid">
      <div class="span8 offset2">
        <h1 id="title"><a href="/" title="Home page">Proof By Example</a></h1>
        <h2>Programming and computer stuff</h2>
      </div>
    </div>

    <div id="main-container" class="row-fluid">
      <div id="main" class="span8 offset2">
        {{ content }}
      </div>
    </div>

    <div id="footer-container" class="row-fluid">
      <div class="span8 offset2">
        <p>
          <dl>
            <dt>About</dt>
            <dd><em>Proof By Example</em> is written by Mark Feeney.  I don't claim to know anything at all.</dd>
            <dt>Follow</dt>
            <dd>
              <a href="https://twitter.com/overthink">@overthink</a>,
              <a href="https://github.com/overthink">github</a>,
              <a href="http://stackoverflow.com/users/69689/overthink">stackoverflow</a>,
              <a href="http://www.linkedin.com/in/mfeeney">linkedin</a>,
              <a href="http://blog.markfeeney.com">old blog</a>
            </dd>
          </dl>
        </p>
        <p id="copyright">
          Copyright &copy; 2013 Mark Feeney.<br/>
          Non-commercial re-use with attribution encouraged; all other rights reserved.<br/>
          Comments are the property of respective posters.
        </p>
      </div>
    </div>

  </body>
</html>

