<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Proof By Example: A programming blog by Mark Feeney"/>
    <meta name="author" content="Mark Feeney"/>
    <title>Proof By Example: {{ page.title }}</title>
    <link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
    <link href="pbe.css" rel="stylesheet" type="text/css">
    <link href="pyg.css" rel="stylesheet" type="text/css">
    {% include analytics.html %}
  </head>
  <body>
    <h1>Proof By Example</h1>
    <h2>A programming blog by Mark Feeney</h2>
    {{ content }}
  </body>
</html>

